* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bg-image {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  margin-top: 0.3rem;
}

.icon {
  width: 1.5rem;
  position: fixed;
  bottom: 1.5rem;
  color: hsla(0, 0%, 100%, 0.757);
  cursor: pointer;
  transition: transform 350ms ease-out;
}

.icon:hover {
  transform: scale(1.1);
  color: hsl(0, 0%, 100%);
}

.copyright-icon {
  left: 1.5rem;
}

.github-icon {
  right: 1.5rem;
  color: hsla(0, 0%, 100%, 0.9);
}

.copyright-tooltip {
  position: fixed;
  bottom: 1rem;
  left: 4rem;
  color: white;
  font-family: sans-serif;
  opacity: 0.75;
}

.copyright-tooltip p:nth-child(1) {
  margin-bottom: 0.5rem;
}
